coverage
docutils
IPython
ipywidgets
jupyter_sphinx
matplotlib
nbconvert>=6.0.2
networkx
notebook
pandas
pillow
pycodestyle
pylint
pyquickhelper>=1.10
requests
sphinx_gallery
sphinxcontrib.imagesvg
wheel
