coverage
docutils
IPython
ipywidgets
jupyter_sphinx
matplotlib
nbconvert>=6.0.2
networkx
notebook
pandas
pillow
pycodestyle
pylint>=2.14.0
pyquickhelper>=1.10
pyquicksetup>=0.2
requests
sphinx_gallery
sphinxcontrib.imagesvg
wheel
