coverage
docutils
IPython
ipywidgets
jupyter_sphinx
matplotlib
nbconvert<6.0
networkx
notebook
pandas
pillow
pycodestyle
pylint
pyquickhelper>=1.9.3179
requests
sphinx_gallery
sphinxcontrib.imagesvg
wheel
